
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Nunito Sans";
    background-color: #FFFFFF;
}

.frontPage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.front-des{      /* whole front page  */
    height: 29rem;
    width: 55rem;
    margin-top: 12rem;
}

.front-img{
    padding-top: 1rem;
        
}

.frontImg{       /* img */
    width:100%;
    height: 54rem;
    border-radius: .5rem;
}


#award{
    color:#FF3366;
    font-weight: 1rem;
    font-size:1.4rem;
}

#Digital{
    font-size: 3.3rem;
    font-weight:800;
    margin-top: 2rem;
}

#contuct{
height: 3rem;
width: 9rem;
background-color: #FF3366;
border: 0;
color: white;
margin-top: 1.5rem;
cursor: pointer;
}


p{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
}



/*********************  pop up CONTAIER*************************/

.closebtn{                                     /* button for close after submitting*/
 padding-left: 25rem;
 width: 2rem;
 cursor: pointer;
}


.popup{
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.popupContainer{
    height: 500px;
    max-width: 600px;
    background-color: #fff;
    position: relative;


    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 3rem;
}


input{
    outline: none;
}

#email{
    height: 3.5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
   
}

#firstName{
    height: 3.5rem;
    border: none;
    border-bottom: 1px solid black;
   
}

#lastName{
    height: 3.5rem;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    margin: 1.3rem;
}

#submitbtn{
    height: 3.8rem;
    width: 100%;
    margin-top: 2rem;
    color: #fff;
    background-color: #FF3366;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
}

/* access checkbox */
#consent{
   accent-color:  #FF3366;
}

.closebtn{
    font-size: 36px; /* Adjust this value to make it bigger or smaller */
    color: black;  
    cursor: pointer;
    margin-left: 4.7rem;
}

#talktous{
    font-size: 34px;
}


/*+++++++++++++++++++++++++++++++++++++++++         MIDDLE   page   ++++++++++++++++++++++++++++++++++++++++++++++++*/


.midPage{
    height: 100vh;
    width: 100%;
    
}

.upperPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftDis{
   
    height: 10rem;
    width: 70rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.rightDis{

    margin-bottom: 5rem;
    height: 4rem;
    width: 70%;
    font-size: 21px;
    margin-top: 3rem;
    
     
}



.whattodo{
    color: #FF3366;
    font-size: 2rem;   
    
}

.ServicesProvide{
    font-size: 3rem;
    font-weight: 800;
}



.middlepart{
    height: 50%;
    display: flex;
    justify-content: space-evenly;        
}

.imageMID{      /* to resize image properly*/ 
    height: 100%;
    width: 100%;
}


.card-container {
    display: flex;
    gap: 4rem;
}

.card {
    width: 25rem;
    height: 35rem;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */     /*gave a solid look*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}



.card-back {
    background-color:#FF3366;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.icon {
    width: 50px;
    height: 50px;
}

.webdev {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.morbi {
    font-size: 14px;
    margin: 10px 0;
}

.readme button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.readme img {
    margin-left: 9px;
    width: 2.8rem;
    height: 16px;
}


.webdev{
    background-color: #FF3366;
    color: #fff;
}


.morbi{
    margin:1.8rem;
    color: #fff;
    background-color: #FF3366
}

.icon{
    background-color: #FF3366;
     margin-top: 8rem;
}

#readmorbtn{
    height: 3.6rem;
    width: 14rem;
    border: none;
    padding-left: 2rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;

}

.arrow{
    width: 100%;
    height: 100%;
}

.readme{
    background-color: #FF3366;
    margin:3rem;
} 



/*+++++++++++++++++++++++++++++++++++++++++         3RD   page   ++++++++++++++++++++++++++++++++++++++++++++++++*/
/* first I developed the down picture page then the upper icons part*/

.thirdPage{
    height: 180vh;
    width: 100%;
    /* padding-left: 6rem; */
    
}

.thirdpUpper{
    height: 16rem;
    width: 100%;
    padding-top: 6.5rem;
}

.ourProject{
    text-align: center;
    font-size: 2rem; 
}

.whyWe{
    text-align: center;
}


.thirdpmiddle{
    padding: 8rem;
}

.thirdpLower{
    display: flex;
    margin-bottom: 5rem;
    margin-top: 3rem;
    margin: 4rem;
    display: flex;
    justify-content: center;
    
}

.thirdLeftPic{
    height: 42rem;
    width: 55rem;
}

.thirdLeftPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Optional , no effect on page */
}

.box{
    width: 25rem;
    height: 14rem;
    margin-left: 2.3rem;
    padding: 2rem;
    background-color: #F6F6F6;

}

.box:hover .thridrighth3,
.box:hover .thridrightp,
.box:hover {
    background-color: #FF3147;
    cursor:pointer;
}

.thridrighth3{
 font-weight: 700;
 background-color: #F6F6F6;
}

.thridrightp{
    font-size: 1rem;
    background-color: #F6F6F6;
}





/* icon box*/
.iconbox{
    height: 16.563rem;
    height: 12.813rem;
}

.diviconsbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    gap: 4rem;
}

.iconboxdis{
    background-color: #fff;
}

#iconss{
    height: 4.5rem;
    width: 4.5rem;
}



/*======================================== last page  ==================================== */

.lastPage{
    height: 130vh;
    width: 100%;
}

.lastHeading{
    margin-top: 5.4rem;
    padding-top: 3rem;
}
.smallBox{
    width: 19rem;
    height: 17rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    /* margin-left: 5rem; */
}
.smallBox:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.1);
}

#smallicon{
    height: 2.4rem;
    width: 2.4rem;
    margin-bottom: 1.5rem;
}


.lastSmallDisOne{
    margin-top: .5rem;
}

.lastPageUpperLower{
    display: flex;
    justify-content: space-around;
    gap:3rem;
    
    margin: 4rem 5.5rem 5rem 5.5rem;  /*top, right, bottom, left*/
}

.lastPageLower{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.lastdis{
    height: 8rem;
    width: 52rem;
    padding: 2REM;
    margin-bottom: 2rem;
    
}



.container{
    position: relative;
    margin-bottom: 5rem;
}

#mergeimg{
    position: absolute;
    z-index: 0;
}

#mergepara{
    position: relative;
    z-index: 2;
    font-size: 1rem;
}



#jannat{
    display: inline-block;
    color: #FF3147;
}

#janDis{
    display: inline-block;
    margin-bottom: 2rem;
    opacity: .6;
}

.mostLst{
    height: 19.3rem;
    width: 100%;
    margin-top: 5rem;
    background-color:#FF3147;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostLst img{
    background-color:#FF3147;
}
